

.left{
    line-height: 5;
    text-align: left;
    float: left;
}


.right{
    line-height: 5;
    text-align: right;
}

.center{
    line-height: 5;
    text-align: center;
}

.button{
    width: 110px;
    height: 80px;
    font-size: 100%;
}

.camera{
    width: 200px;
    height: 80;
    font-size: 100%;
}

.sort{
    width: 100;
    height: 40;
    font-size: 100%;
}
